<div class="bg-dark">
    <div class="container">
        <footer class="py-3 mt-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-light">N</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-light">T</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-light">D</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-light">Q</a>
                </li>
            </ul>
            <p class="text-center text-light">--- BanhTheCake ---</p>
        </footer>
    </div>
</div>
